@import "tailwindcss";

@theme {
  /* Cores da Pacsys */
  --color-pacsys-light: rgb(0 176 239);
  --color-pacsys-dark: rgb(0 58 147);
  
  /* Light Mode */
  --color-background: 0 0% 100%;
  --color-foreground: 240 10% 3.9%;
  --color-card: 0 0% 100%;
  --color-card-foreground: 240 10% 3.9%;
  --color-popover: 0 0% 100%;
  --color-popover-foreground: 240 10% 3.9%;
  --color-primary: 221 83% 53%;
  --color-primary-foreground: 0 0% 98%;
  --color-secondary: 240 4.8% 95.9%;
  --color-secondary-foreground: 240 5.9% 10%;
  --color-muted: 240 4.8% 95.9%;
  --color-muted-foreground: 240 3.8% 46.1%;
  --color-accent: 240 4.8% 95.9%;
  --color-accent-foreground: 240 5.9% 10%;
  --color-destructive: 0 84.2% 60.2%;
  --color-destructive-foreground: 0 0% 98%;
  --color-border: 240 5.9% 90%;
  --color-input: 240 5.9% 90%;
  --color-ring: 221 83% 53%;
  
  --radius: 0.5rem;
}

.dark {
  --color-background: 240 10% 3.9%;
  --color-foreground: 0 0% 98%;
  --color-card: 240 10% 3.9%;
  --color-card-foreground: 0 0% 98%;
  --color-popover: 240 10% 3.9%;
  --color-popover-foreground: 0 0% 98%;
  --color-primary: 195 100% 47%;
  --color-primary-foreground: 240 5.9% 10%;
  --color-secondary: 240 3.7% 15.9%;
  --color-secondary-foreground: 0 0% 98%;
  --color-muted: 240 3.7% 15.9%;
  --color-muted-foreground: 240 5% 64.9%;
  --color-accent: 240 3.7% 15.9%;
  --color-accent-foreground: 0 0% 98%;
  --color-destructive: 0 62.8% 30.6%;
  --color-destructive-foreground: 0 0% 98%;
  --color-border: 240 3.7% 15.9%;
  --color-input: 240 3.7% 15.9%;
  --color-ring: 195 100% 47%;
}

@layer base {
  * {
    border-color: hsl(var(--color-border));
  }
  
  body {
    background-color: hsl(var(--color-background));
    color: hsl(var(--color-foreground));
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  
  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

}